<button *ngIf="_authService.loggedIn()" (click)="toNewEvent()" class="btn btn-primary mt-5">New Event</button>

<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let event of events">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title" name="name">{{event.name}}</h5>
        <p class="card-text">{{event.description}}</p>
        <button class="btn btn-primary" (click)="likeEvent(event)">Like</button>
      </div>
      <div class="card-footer text-muted">
        {{event.date }}
      </div>
    </div>
  </div>
</div>